:root {
    /* Fontes */
    --sarala: 'Sarala', sans-serif;
    --righteous: 'Righteous', cursive;
    /* Cores */
    --background: linear-gradient(68.15deg,#000080 16.62%, #00BFFF 85.61%);
    --cor-primaria:#FFF2E7;
    --cor-secundaria:#ECD6C4;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: var(--background);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
    border-radius: 75%;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family:var(--sarala);
    color: var(--cor-primaria);
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover {
    color: rgba(236,214,196,0.53);
    cursor: pointer;
}

.conteudo {
    border-top: 0.4px solid var(--cor-primaria);
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: var(--righteous);
    font-weight: 400;
    font-size: 64px;
    color: var(--cor-primaria);
}

.conteudo-principal-escrito-subtitulo {
    font-family:var(--sarala);
    font-weight: 400;
    font-size: 24px;
    color:var(--cor-secundaria);
}

.conteudo-principal-escrito-botao {
    background-color: var(--cor-secundaria);
    width: 180px;
    height: 60px;
    border-radius: 20px;
    border: none;
    font-size: 24px;
    font-family: var(--sarala);
    font-weight: 400;
    color:#2F2325;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236,214,196,0.53);
    cursor: pointer;
}

.conteudo-principal-imagem{
    height: 380px;
    margin-top: 50px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top:0.4px solid var(--cor-primaria);
    padding-top: 48px;
    color: var(--cor-primaria);
    font-family: var(--righteous);
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: var(--sarala);
    font-weight: 300;
    font-size: 18px;
    color: var(--cor-secundaria);
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

.letras {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Mitr', sans-serif;
}

.A {
    color:darkblue;
}

.R {
    color: white;
}

.T {
    color: #00BFFF;
}

.H {
    color: #176883;
}

.U {
    color: aquamarine;
}